GCP_BUCKET="my-bucket-name"
JWT_SECRET="some-secret"

# check out https://www.postgresql.org/docs/9.1/libpq-envars.html
# in dev mode check out the vars in the `docker-compose.yml` file
PGDATABASE=
PGHOST=
PGPASSWORD=
PGPORT=
# you may not need PGSSSL env vars in dev mode
PGSSLMODE=
PGSSLROOTCERT=
PGUSER=

VERCEL_PROJECT="my-vercel-project"
VERCEL_TOKEN="my-vercel-token"